* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
}
body > div {
    margin:  auto;
}
.btn{
    display: inline-block;
    background-color:transparent;
    border: none;
    font-size:20px;
    outline: none;
    min-width:140px;
    padding: 12px 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: opacity ease-in-out 0.2s;
}
.btn + .btn{
    margin-left: 20px;
}
.btn:hover{
    opacity: 0.5;
}
.btn--success{
    background-color:rgb(125, 235, 15);
}
.btn--warn{
    background-color:#c2d000;
}
.btn--danger{
    background-color:rgb(214, 50, 50);
}
.btn--disabled{
    opacity: 0.3 !important;
    cursor: default;
}
.btn--size-s{
    padding: 8px 40px;
}
.btn--size-l{
    padding: 16px 56px;
}